@import "tailwindcss";
@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-ring: var(--ring);
  --color-border: var(--border);

  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);

  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);

  --color-foreground: var(--foreground);
  --color-sidebar: var(--sidebar);

  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);

  --color-input: var(--input);
  --color-destructive: var(--destructive);

  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);

  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);

  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);

  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}


:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #6b1a0b;
  --secondary:#393837; 
  --muted:#969393;
  --border: #949191;
}

.chat-scroll::-webkit-scrollbar {
  width: 6px;
}

.chat-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.chat-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(100, 116, 139, 0.4);
  border-radius: 10px;
}

.chat-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 116, 139, 0.4) transparent;
}


* {
  @apply border-border outline-ring/50;
}

body {
  @apply bg-background text-foreground;
}
