@import "tailwindcss";
@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-ring: var(--ring);
  --color-border: var(--border);

  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);

  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);

  --color-foreground: var(--foreground);
  --color-sidebar: var(--sidebar);

  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);

  --color-input: var(--input);
  --color-destructive: var(--destructive);

  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);

  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);

  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);

  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

}


:root {
  --background: #1F1F1E;        /* მთავარი ფონური ფერი */
  --foreground: #FFFFFF;        /* ტექსტის ძირითადი ფერი */
  --primary: #A50000;           /* ღილაკები ან აქტიური ელემენტები */
  --secondary: #393837;        /* ბექგრაუნდ ბოქსებისთვის */
  --secondary-foreground: #787775;
  --muted: #929292;             /* დაბალი კონტრასტის ტექსტისთვის */
  --muted-foreground: #C9C6C5;
  --border: #4E4E4E;            /* საზღვარი ელემენტებისთვის */
  --danger: #F44336;            /* შეცდომის ფერი */
  --accent:#434241;            /* აქცენტის ფერი */
  --info: #3771C8;              /* ლინკები ან ინფო ტექსტი */
}
.scroll::-webkit-scrollbar {
  width: 6px;
}

.scroll::-webkit-scrollbar-track {
  background: transparent;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #C9C6C5;
  border-radius: 4px;
}

.scroll {
  scrollbar-width: thin;
  scrollbar-color: #C9C6C5 transparent;
}


* {
  @apply border-border outline-ring/50;
}

body {
  @apply bg-background text-foreground;
}
